<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringStudyApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring_study" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.aws.spring_study.SpringStudyApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>